/* -----Color References-----

Dark/General text color: #4c331b

Transparent background color: rgba(255, 255, 255, 0.3)
Content box shadow color: 0 8px 20px rgba(0,0,0,0.3)
Hub buttons shadow color: 2px 4px 8px rgba(0,0,0,0.15)

Hub buttons background color: #f0e4d7
Hub buttons hover color: #e6d5c3

Footer copyright text color: #555
Footer button background color: #c8a27e
Footer button hover color: #a67c52
Footer button text color: white
*/

/* -----Body----- */
body {
  background-attachment: scroll !important;
  background-size: cover;
  background-position: center;
}

/* -----Content Box----- */
.content-box {
    margin-top: -30px;
}

/* -----Header----- */
.header {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.header img {
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;
  align-content: center;
}

.header h1 {
  font-size: 3rem;
  line-height: 1.3;
  text-align: center;
  align-content: center;
  margin-left: 0px;
}

.caligraphy-header {
  font-size: 5rem;
}

.subtext {
  font-size: 2rem;
}

/* -----Button Grid----- */
.button-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 850px;
}

.button-grid a {
    font-size: 2.75rem;
    min-height: 100px;
}

/* -----Footer----- */
footer {
  text-align: center;
  gap: 14px;
  font-size: 1.5rem;
}

footer a {
  padding: 10px 16px;
  border-radius: 14px;
  font-size: 1.5rem;
}
